@{
    ViewBag.Title = "Development Earth";
    Layout = "~/Views/Shared/_VisitorLayout.cshtml";
}


<!------banner-start------>
    <section class="banner_section about_banner">
    	<img src="../../Content/Images/about_us.jpg">
    </section>
    <!-----banner-end------->
    <!---------wrapper-start----->
    <section class="wrapper">
    	<section class="container">
        	<section class="about_wrap">
        		<h1 class="main_title">About<span> Development Earth.</span></h1>
                <div class="row">
                    <div class="col-sm-12">
                    	<div class="about-inner-wrap">
                    		<div class="col-sm-3 col-xs-3 md_snap"><img src="../../Content/../../Content/Images/snap_MD.jpg"></div>
                        	<div class="about_hindi col-sm-9 col-xs-9">
                            <h2>Mr.Devesh Dubey<span>(Managing Director)</span></h2>
                            बस मुद्रण और टाइप बैठना उद्योग के डमी पाठ है। एक अज्ञात प्रिंटर के प्रकार की एक लंबी नाव ले लिया और यह एक प्रकार नमूना पुस्तक बनाने के लिए तले जब 1500s, के बाद से कभी उद्योग की मानक डमी पाठ किया गया है। यह न केवल पांच सदियों से बच गया है<br><br>बस मुद्रण और टाइप बैठना उद्योग के डमी पाठ है। एक अज्ञात प्रिंटर के प्रकार की एक लंबी नाव ले लिया और यह एक प्रकार नमूना पुस्तक बनाने के लिए तले जब 1500s, के बाद से कभी उद्योग की मानक डमी पाठ किया गया है। यह न केवल पांच सदियों से बच गया है <br> के बाद से कभी उद्योग की मानक डमी पाठ किया गया है। यह न केवल पांच सदियों से बच गया है बस मुद्रण और टाइप बैठना उद्योग के डमी पाठ है। एक अज्ञात प्रिंटर के प्रकार की एक लंबी नाव ले लिया और यह एक प्रकार</div>
                        </div>
                        <div class="about-inner-wrap">
                        	<div class="about_hindi col-sm-9 col-xs-9">
                            <h2>Mrs.Priya Das<span>(Chief Executive Officer)</span></h2>
                            बस मुद्रण और टाइप बैठना उद्योग के डमी पाठ है। एक अज्ञात प्रिंटर के प्रकार की एक लंबी नाव ले लिया और यह एक प्रकार नमूना पुस्तक बनाने के लिए तले जब 1500s, के बाद से कभी उद्योग की मानक डमी पाठ किया गया है। यह न केवल पांच सदियों से बच गया है<br><br>बस मुद्रण और टाइप बैठना उद्योग के डमी पाठ है। एक अज्ञात प्रिंटर के प्रकार की एक लंबी नाव ले लिया और यह एक प्रकार नमूना पुस्तक बनाने के लिए तले जब 1500s, के बाद से कभी उद्योग की मानक डमी पाठ किया गया है। यह न केवल पांच सदियों से बच गया है <br> के बाद से कभी उद्योग की मानक डमी पाठ किया गया है। यह न केवल पांच सदियों से बच गया है बस मुद्रण और टाइप बैठना उद्योग के डमी पाठ है। एक अज्ञात प्रिंटर के प्रकार की एक लंबी नाव ले लिया और यह एक प्रकार</div>
                            <div class="col-sm-3 col-xs-3 md_snap"><img src="../../Content/Images/snap_CEO.jpg"></div>
                        </div>
                        <!-----pro_partner_01----->
                        <div class="about-inner-wrap pro_partner">
                    		<div class="col-sm-3 col-xs-3" style="border:none;">
                            	<img src="../../Content/Images/snap_umesh.jpg">
                                <h3>Mr.Umesh Dubey<br><span> Public Relation Officer</span></h3>
                                <h5>sector-43, Mohali, Punjab</h5>
                                <p>if you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day</p>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                            	<img src="../../Content/Images/snap_rampratap.jpg">
                                <h3>Mr.Rampratap<br><span> Public Relation Officer</span></h3>
                                <h5>Azamgarh123, (U.P)</h5>
                                <p>if you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day</p>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                            	<img src="../../Content/Images/snap_jaya.jpg">
                                <h3>Miss.Jaya<br><span> Public Relation Officer</span></h3>
                                <h5>----, ---- (H.P)</h5>
                                <p>if you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day</p>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                            	<img src="../../Content/Images/snap_sandeep.jpg">
                                <h3>Mr.Sandeep Panika<br><span> Public Relation Officer</span></h3>
                                <h5>Basi, Sonbhadra (U.P)</h5>
                                <p>if you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day</p>
                            </div>                            
                        </div>
                        <!-----pro_partner_01_end----->
                        <!-----pro_partner_02----->
                        <div class="about-inner-wrap pro_partner">
                    		<div class="col-sm-3 col-xs-3" style="border:none;">
                            	<img src="../../Content/Images/snap_akhilesh.jpg">
                                <h3>Mr.Akhilesh<br><span> Public Relation Officer</span></h3>
                                <h5>Bina, Sonbhadra (U.P)</h5>
                                <p>if you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day</p>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                            	<img src="../../Content/Images/snap_vikash.jpg">
                                <h3>Mr.Vikash<br><span> Public Relation Officer</span></h3>
                                <h5>------, -------, (U.P)</h5>
                                <p>if you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day</p>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                            	<img src="../../Content/Images/snap_vishnu_pandit.jpg">
                                <h3>Mr.Vishnu Pandit<br><span> Public Relation Officer</span></h3>
                                <h5>------, -------- (U.P)</h5>
                                <p>if you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day</p>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                            	<img src="../../Content/Images/snap_naqeeb_alam.jpg">
                                <h3>Mr.Nakib Alam<br><span> Public Relation Officer</span></h3>
                                <h5>Lucknow, (U.P)</h5>
                                <p>if you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day</p>
                            </div>
                        </div>
                        <!-----pro_partner_02_end----->
                        <!-----pro_partner_03----->
                        <div class="about-inner-wrap pro_partner">
                    		<div class="col-sm-3 col-xs-3" style="border:none;">
                            	<img src="../../Content/Images/snap_prasant_sukla.jpg">
                                <h3>Mr.Prasant Sukla.<br><span> Public Relation Officer</span></h3>
                                <h5>---------,------- (U.P)</h5>
                                <p>if you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day</p>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                            	<img src="../../Content/Images/snap_suryabhan.jpg">
                                <h3>Mr.Suryabhan<br><span> Public Relation Officer</span></h3>
                                <h5>Parao, Varanasi, (U.P)</h5>
                                <p>if you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day</p>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                            	<img src="../../Content/Images/about_no_snap.jpg">
                                <h3>Mr.Sandeep Panika<br><span> Public Relation Officer</span></h3>
                                <h5>Basi, Sonbhadra (U.P)</h5>
                                <p>if you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day</p>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                            	<img src="../../Content/Images/about_no_snap.jpg">
                                <h3>Mr.Akhilesh<br><span> Public Relation Officer</span></h3>
                                <h5>sector-43, Mohali, Punjab</h5>
                                <p>if you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day</p>
                            </div>
                        </div>
                        <!-----pro_partner_03_end----->
                        <!-----pro_partner_04----->
                        <div class="about-inner-wrap pro_partner">
                    		<div class="col-sm-3 col-xs-3" style="border:none;">
                            	<img src="../../Content/Images/about_no_snap.jpg">
                                <h3>Mr.Mintu Singh.<br><span> Public Relation Officer</span></h3>
                                <h5>Balia,(U.P)</h5>
                                <p>if you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day</p>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                            	<img src="../../Content/Images/about_no_snap.jpg">
                                <h3>Miss.Sonam Sharma<br><span> Public Relation Officer</span></h3>
                                <h5>Parao, Varanasi, (U.P)</h5>
                                <p>if you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day</p>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                            	<img src="../../Content/Images/about_no_snap.jpg">
                                <h3>Mr.Pratik Jain<br><span> Public Relation Officer</span></h3>
                                <h5>Anapara, Sonbhadra (U.P)</h5>
                                <p>if you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day</p>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                            	<img src="../../Content/Images/about_no_snap.jpg">
                                <h3>Mr.Nakib Alam<br><span> Public Relation Officer</span></h3>
                                <h5>Lucknow, (U.P)</h5>
                                <p>if you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day</p>
                            </div>
                        </div>
                        <!-----pro_partner_04_end----->
                        <!-----pro_partner_05----->
                        <div class="about-inner-wrap pro_partner">
                    		<div class="col-sm-3 col-xs-3" style="border:none;">
                            	<img src="../../Content/Images/about_no_snap.jpg">
                                <h3>Mr.Mintu Singh.<br><span> Public Relation Officer</span></h3>
                                <h5>Balia,(U.P)</h5>
                                <p>if you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day</p>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                            	<img src="../../Content/Images/about_no_snap.jpg">
                                <h3>Miss.Sonam Sharma<br><span> Public Relation Officer</span></h3>
                                <h5>Parao, Varanasi, (U.P)</h5>
                                <p>if you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day</p>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                            	<img src="../../Content/Images/about_no_snap.jpg">
                                <h3>Mr.Sandeep Panika<br><span> Public Relation Officer</span></h3>
                                <h5>Basi, Sonbhadra (U.P)</h5>
                                <p>if you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day</p>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                            	<img src="../../Content/Images/about_no_snap.jpg">
                                <h3>Mr.Akhilesh<br><span> Public Relation Officer</span></h3>
                                <h5>sector-43, Mohali, Punjab</h5>
                                <p>if you're curious about Sakara, but need a taste before jumping in, sign up to receive our one day program of three delicious meals delivered to your door. You'll soon see how good you can feel all day</p>
                            </div>
                        </div>
                        <!-----pro_partner_05_end----->
                        
                    </div>
                </div>
           	</section>
        </section>
    </section>
    <!---------wrapper-end------->